{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Ajout Utilisateur {% endblock %}
{% block body %}
          {% if role is defined %}
            {% if role is same as('ADMIN') %}
                <h1>Ajouter un utilisateur</h1>
                <form id="sign-up-form" action="index.php?page=user_add"
                      method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="inputLastName">Nom</label>
                        <input type="text" id="inputLastName" name="inputLastName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName">Prénom</label>
                        <input type="text" id="inputFirstName" name="inputFirstName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputBirthDate">Date de naissance</label>
                        <input type="date" id="inputBirthDate" name="inputBirthDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputGender">Sexe</label>
                          <input type="radio" name="inputGender" value="Masculin">Masculin
                        <input type="radio" name="inputGender"value="Féminin">Féminin
                    </div>
                    <div class="form-group">
                        <label for="inputCountry">Pays</label>
                        <select name="countryList" for="sign-up-form" class="form-control">
                            {% for option in tab %}
                                 <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputJob">Métier</label>
                        <select name="jobList" for="sign-up-form" class="form-control">
                            <option value="cadre">Cadre</option>
                            <option value="employe">Employe</option>
                            <option value="ouvrier">Ouvrier</option>
                            <option value="agriculteur">Agriculteur</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" id="inputEmail" name="inputEmail" class="form-control">
                    </div>
                    <input type="hidden" name="id" value="{{ form.user.id }}">
                    <button type="submit" class="btn btn-lg btn-primary" name="btAjouter">Ajouter</button>
                </form>
    {% else %}
    Vous n'avez pas accès à cette page
    {% endif %}
    {% endif %}

{% endblock %}
